/* line 1, ../scss/style.scss */
#app-container {
  background: #fafafa;
}

/* line 4, ../scss/style.scss */
#content {
  background: #fff;
}

/* line 7, ../scss/style.scss */
ul.things {
  padding: 5px 0;
}

/* line 10, ../scss/style.scss */
ul.things li:hover {
  background: #E6E6E6;
}

/* line 13, ../scss/style.scss */
ul.things li {
  text-align: left;
  list-style: none;
  cursor: pointer;
  padding: 6px;
}

/* line 19, ../scss/style.scss */
.main-input .date {
  width: 150px;
}

/* line 22, ../scss/style.scss */
.buttons {
  margin: 10px 0;
  text-align: left;
}

/* line 26, ../scss/style.scss */
.checkbox label {
  width: 100%;
}

/* line 29, ../scss/style.scss */
.social-buttons {
  width: 30%;
  text-align: center;
  margin: 50px auto;
}

/* line 38, ../scss/style.scss */
.navbar-default .navbar-nav .open a span, .navbar-default .navbar-nav .open a strong.username, .navbar-default .navbar-nav .open a:focus, .navbar-default .navbar-nav .open a:hover {
  color: #555 !important;
}
/* line 45, ../scss/style.scss */
.navbar-default .navbar-nav li a span {
  color: #fff;
}
/* line 48, ../scss/style.scss */
.navbar-default .navbar-nav li a strong.username {
  color: #fff;
}

/* line 55, ../scss/style.scss */
.main-title {
  float: left;
  width: 80%;
  text-align: center;
  color: #fff;
  font-size: 120%;
  line-height: 50px;
}

/* line 64, ../scss/style.scss */
.checkbox label.done {
  text-decoration: line-through;
  color: lightgray;
}
/* line 68, ../scss/style.scss */
.checkbox span {
  float: right;
  width: 20px;
  height: 20px;
  text-align: center;
}
/* line 73, ../scss/style.scss */
.checkbox span:hover {
  color: #000;
}

/* line 78, ../scss/style.scss */
h2 {
  font-size: 20px;
  color: #000;
  text-align: left;
  margin: 10px 0;
}
/* line 83, ../scss/style.scss */
h2.section-header {
  color: #000;
}
/* line 86, ../scss/style.scss */
h2.no-task {
  color: #969696;
}
