/* line 1, ../scss/style.scss */
#app-container {
  background: #fafafa;
}

/* line 4, ../scss/style.scss */
#content {
  background: #fff;
}

/* line 7, ../scss/style.scss */
ul.things {
  padding: 10px 0;
}

/* line 10, ../scss/style.scss */
ul.things li:hover {
  background: #E6E6E6;
}

/* line 13, ../scss/style.scss */
ul.things li {
  text-align: left;
  list-style: none;
  cursor: pointer;
  padding: 6px;
}

/* line 19, ../scss/style.scss */
.main-input .date {
  width: 150px;
}

/* line 22, ../scss/style.scss */
.buttons {
  margin: 10px 0;
  text-align: left;
}

/* line 26, ../scss/style.scss */
.checkbox label {
  width: 100%;
}

/* line 29, ../scss/style.scss */
.social-buttons {
  width: 30%;
  text-align: center;
  margin: 50px auto;
}
