<div ng-controller="mainController" class="text-center">
	<br>
    <form>
    	<div class="input-group main-input">
	    	<input type="text" ng-model="task" class="form-control task" size="50" placeholder="Add Task">

	    	<div class="input-group-btn">
	    		<input type="text" class="form-control date" uib-datepicker-popup="yyyy-MM-dd" min-date="minDate" ng-model="date" ng-required="true" close-text="Close" show-weeks="false" is-open="opened" ng-focus="opened=true" />
	    	</div>
	    </div>
	    <div class="buttons">
	    	<button type="button" class="btn btn-info" ng-click="add()">Add Task</button>
	    	<button type="button" class="btn btn-link">Cancel</button>
	    </div>
	</form>

	<ul class="things">
		<li ng-repeat="x in tasks track by $index">
			<div class="checkbox checkbox-circle">
        <input id="checkbox{{$index}}" class="styled" ng-model="x.done" type="checkbox">
        <label for="checkbox{{$index}}">
          {{x.task}}
        </label>
      </div>
		</li>
	</ul>
</div>