<div ng-controller="mainController" class="text-center">
	<br>
    <form ng-submit="add()">
    	<div class="input-group main-input">
	    	<input type="text" ng-model="noteInput" class="form-control task" size="50" placeholder="Add Task">
	    	<div class="input-group-btn">
	    		<input type="text" size="50" class="form-control date" id="datepicker">
	    	</div>
	    </div>
	    <div class="buttons">
	    	<button type="button" class="btn btn-info">Add Task</button>
	    	<button type="button" class="btn btn-link">Cancel</button>
	    </div>
	</form>

	<ul ng-repeat="x in noteList" class="things">
		<li>
			<div class="checkbox checkbox-circle">
	            <input id="checkbox1" class="styled" ng-model="x.done" type="checkbox">
	            <label for="checkbox1">
	                {{x.noteText}}
	            </label>
	        </div>
		</li>
	</ul>
</div>