<div class="col-xs-6 col-sm-3 sidebar-left" id="sidebar" role="navigation" ng-controller="MainController">
  <ul class="nav">
    <li class="active">
      <a href="#/" ng-click="selectInbox()">Inbox</a>
    </li>
    <li>
      <a href="#/date/{{(today.getMonth() + 1) + '-' + today.getDate() + '-' + today.getFullYear()}}" ng-click="select('Today')">Today</a>
    </li>
    <li>
    	<a href="#/date/{{(nextDate.getMonth() + 1) + '-' + nextDate.getDate() + '-' + nextDate.getFullYear()}}" ng-click="select('Tomorrow')">Tomorrow</a>
	  </li>
	  <li ng-repeat="nextDate in nextDates">
    	<a href="#/date/{{(nextDate.getMonth() + 1) + '-' + nextDate.getDate() + '-' + nextDate.getFullYear()}}" ng-click="select('{{weeks[nextDate.getDay()]}}')">{{weeks[nextDate.getDay()]}}</a>
	  </li>
  </ul>
</div>