#app-container {
  background: #fafafa;
}
#content {
  background: #fff;
}
ul.things li {
	text-align: left;
    list-style: none;
    cursor: pointer;
}
.main-input .date {
	width: 150px;
}
.buttons {
	margin: 10px 0;
	text-align: left;
}