#app-container {
  background: #fafafa;
}
#content {
  background: #fff;
}
ul.things {
  padding: 5px 0;
}
ul.things li:hover {
  background: #E6E6E6;
}
ul.things li {
	text-align: left;
  list-style: none;
  cursor: pointer;
  padding: 6px;
}
.main-input .date {
	width: 150px;
}
.buttons {
	margin: 10px 0;
	text-align: left;
}
.checkbox label {
  width: 100%;
}
.social-buttons {
  width: 30%;
  text-align: center;
  margin: 50px auto;
}
.navbar-default {
  .navbar-nav {
    .open {
      a {
        span, strong.username, &:focus, &:hover {
          color: #555 !important;
        }
      }
    }
    li {
      a {
        span {
          color: #fff;
        }
        strong.username {
          color: #fff;
        }
      }
    }
  }
}
.main-title {
  float: left;
  width: 80%;
  text-align: center;
  color: #fff;
  font-size: 120%;
  line-height: 50px;
}
.checkbox {
  label.done {
    text-decoration: line-through;
    color: lightgray;
  }
  span {
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    &:hover {
      color: #000;
    }
  }
}
h2 {
  font-size: 20px;
  color: #000;
  text-align: left;
  margin: 10px 0;
  &.section-header {
    color: #000;
  }
  &.no-task {
    color: #969696;
  }
}